[MASTER]
load-plugins=pylint_django
django-settings-module=config.settings
ignore=migrations

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring

[FORMAT]
max-line-length=100

[DESIGN]
max-parents=15

[TYPECHECK]
generated-members=objects